.content-container {
  width: 100%;
  margin-bottom: 40px;
}

.wrapper-text-content {
  padding: 0 0 20px;

  .red-title {
    color: $red;
    font-family: $ff-extra;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

    a {
      color: $red;
      text-decoration: underline;
      text-underline-offset: 5px;
      font-size: 16px;
      font-weight: 500;
      line-height: 21.6px;
    }
  }

  ul {
    padding-left: 40px;

    li {
      list-style-type: disc;
    }
  }

  h3 {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 216px;

    @include vp-768 {
      height: 354px;
    }

    @include vp-1440 {
      height: 437px;
    }
  }

  th,
  td {
    text-align: left;
    vertical-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    white-space: break-spaces;

    @include vp-768 {
      font-size: 12px;
    }

    @include vp-900 {
      font-size: 16px;
    }
  }

  .table-responsive table {
    white-space: nowrap;
  }

  .table-responsive,
  tbody {
    max-width: 100%;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    white-space: nowrap;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
  }

  th {
    font-weight: 500 !important;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  th,
  td {
    border-right: 1px solid $light-grey;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

}

.wrapper-quote {
  p {
    font-family: $ff-extra;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

    padding: 20px 0;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 79px;
      height: 6px;
      background-color: $red;
    }
  }
}

.wrapper-text-border {
  border-bottom: 1px solid $light-grey;
}

.content-container-border {
  border-bottom: 1px solid $light-grey;
}

.wrapper-link {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    text-align: center;
    color: $red;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover,
    &:focus,
    &:active {
      opacity: 60%;
    }
  }

  svg {
    stroke: white;
  }
}

.wrapper-link-border {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $red;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      opacity: 70%;
    }
  }
}

.wrapper-dark-list {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  ul li {
    list-style-type: none;
    padding: 0 10px;
    background-color: $bg-grey;
    border-radius: 5px;
  }

  li h3 {
    //styleName: h3;
    font-family: $ff-extra;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;


  }

  li h2+p {
    border-top: 1px solid $light-grey;
    padding-top: 10px;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  overflow: hidden;
}

.wrapper-products {
  li {
    display: flex;

    h3 {
      font-family: $ff-extra;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

      @include vp-1440 {
        font-size: 24px;
        line-height: 28.8px;
      }
    }

    svg {
      stroke: $red;
    }

    a {
      border: 1px solid $light-grey;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;

      &:hover,
      &:focus,
      &:active {
        border-color: $red;
      }

      @include vp-1440 {
        display: flex;
        gap: 10px;
      }
    }

    img {
      width: 100%;
      height: 190px;
      object-fit: cover;

      @include vp-768 {
        height: 145px;
      }

      @include vp-1440 {
        height: 90px;
        width: 120px;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @include vp-768 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-1440 {
      grid-template-columns: 1fr;
    }
  }
}

.wrapper-dark-card {
  background-color: $bg-grey;
  border-radius: 5px;
  padding: 16px;

  h3 {
    margin: 0;
    font-family: $ff-extra;
    color: $blue;
    padding: 10px 0;
    border-bottom: 1px solid $light-grey;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
  }

  img {
    width: 100%;
    height: 191px;

    @include vp-768 {
      width: 156px;
      height: 100px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @include vp-768 {
      flex-direction: row-reverse;
    }
  }

  a {
    color: $red;

    svg {
      stroke: $red;
    }
  }
}

.wrapper-dark-inf {
  div {
    display: flex;
    flex-direction: column;
  }

  ul li {
    list-style-type: disc;
  }

  ul {
    padding-left: 40px;
  }

  h3 {
    color: $black;
  }
}

.wrapper-map {
  iframe {
    width: 100%;
    height: 216px;

    @include vp-768 {
      height: 354px;
    }

    @include vp-1440 {
      height: 436px;
    }
  }
}

.wrapper-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    margin: 0;
  }

  a {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $red;
    }

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}
