.content-container {
  width: 100%;

  margin-bottom: 40px;

  &:not(:first-of-type) {
    margin-top: 40px;
  }

  &:first-of-type {
    margin-top: 0px;
  }



  &:last-of-type {
    margin-bottom: 0px;
    // margin-top: 0px;
    // @include vp-1440 {
    //   margin-bottom: 42px;

    // }
  }

  .date {
    font-size: 16px;
    line-height: 21.6px;
  }
}

.content-container-border+.content-container:last-of-type {

  // background-color: red;
  .wrapper-link-border {
    padding: 0;
  }
}

.container div:not(.sidebar) .content-container-border {
  @include vp-1440 {
    margin-top: 0;
  }
}

.sidebar+.content-container {
  margin-top: 0;
}

.wrapper-text-content {
  padding: 0;
  margin-bottom: 40px;

  // @include vp-1440 {
  //   padding-bottom: 64px;
  // }

  .red-title {
    color: $red;
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 35px 0 20px;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

    @include vp-1440 {
      margin: 25px 0;
    }

    a {
      color: $red;
      text-decoration: underline;
      text-underline-offset: 5px;
      font-size: 16px;
      font-weight: 500;
      line-height: 21.6px;
    }
  }

  ul {
    padding-left: 25px;

    li {
      list-style-type: disc;
    }
  }

  h3 {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 15px 0;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    margin: 14px 0;

    @include vp-768 {
      margin: 14px 0;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 216px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include vp-768 {
      height: 354px;
    }

    @include vp-1440 {
      height: 437px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  ol {
    padding-left: 23px;

    @include vp-768 {
      margin-bottom: 0;
    }
  }

  th,
  td {
    text-align: left;
    vertical-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    white-space: break-spaces;

    @include vp-768 {
      font-size: 12px;
    }

    @include vp-900 {
      font-size: 16px;
    }
  }

  .table-responsive table {
    white-space: nowrap;
  }

  .table-responsive,
  tbody {
    max-width: 100%;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    white-space: nowrap;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
  }

  td {
    padding: 8px;
  }

  th {
    font-weight: 500 !important;
  }

  tr:last-child td {
    border-bottom: none;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  th,
  td {
    border-right: 1px solid $light-grey;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

}

.wrapper-text-border .wrapper-quote {
  margin-top: 40px;
}

.wrapper-quote {

  // margin-top: 40px;
  p {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    padding: 20px 0;

    position: relative;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
      margin-top: 30px;
      margin-bottom: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      width: 79px;
      height: 6px;
      background-color: $red;
    }
  }
}

.wrapper-text-border {
  border-bottom: 1px solid $light-grey;
  margin-bottom: 40px;

  @include vp-1440 {
    padding-bottom: 64px;
    margin-bottom: 64px;
  }

  p {
    margin: 20px 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.content-container-border {
  border-bottom: 1px solid $light-grey;
}

.wrapper-link {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  @include vp-768 {
    gap: 10px;
  }

  @include vp-1440 {
    gap: 20px;
  }

  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    text-align: left;
    color: $red;
    display: flex;
    gap: 10px;


    &:hover,
    &:focus,
    &:active {
      opacity: 60%;
    }
  }

  svg {
    stroke: white;
  }
}

.wrapper-link-border {
  padding: 15px 0 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $red;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      opacity: 70%;
    }


    @include vp-1440 {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.6px;

    }
  }
}

.wrapper-dark-list {

  @include vp-1440 {
    padding-bottom: 60px;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include vp-768 {
      margin-top: 12px;
    }
  }

  ul li {
    list-style-type: none;
    padding: 0 14px;
    background-color: $bg-grey;
    border-radius: 5px;


    @include vp-1440 {
      padding: 0 18px;
    }
  }

  li h3 {
    font-family: $ff-extra;


    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
      // margin-bottom: 0px;
    }


  }

  li h3+p {
    border-top: 1px solid $light-grey;
    padding-top: 10px;

    @include vp-1440 {

      margin-top: 12px;
      margin-bottom: 14px;
    }
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  overflow: hidden;
  margin-top: 25px;
}

.wrapper-products {
  margin-top: 18px;

  @include vp-1440 {
    margin-top: 40px;
  }

  li {
    display: flex;

    a div {
      margin-top: 10px;

      @include vp-1440 {
        margin-top: 0;
      }
    }

    h3 {
      font-family: $ff-extra;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin: 5px 0;

      @include vp-1440 {
        font-size: 24px;
        line-height: 28.8px;
      }
    }

    svg {
      stroke: $red;
      width: 15px;
      height: 15px;
    }

    a {
      border: 1px solid $light-grey;
      padding: 16px 16px 12px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;

      &:hover,
      &:focus,
      &:active {
        border-color: $red;
      }

      @include vp-1440 {
        display: flex;
        gap: 10px;
      }
    }

    img {
      width: 100%;
      height: 190px;
      object-fit: cover;

      @include vp-768 {
        height: 145px;
      }

      @include vp-1440 {
        height: 90px;
        width: 120px;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @include vp-768 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-1440 {
      grid-template-columns: 1fr;
    }
  }
}

.wrapper-dark-card {
  background-color: $bg-grey;
  border-radius: 5px;
  padding: 16px;

  @include vp-1440 {
    padding: 25px;
  }

  h3 {
    margin: 0;
    font-family: $ff-extra;
    color: $blue;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 16px;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
  }

  img {
    width: 100%;
    height: 191px;

    @include vp-768 {
      width: 156px;
      height: 100px;
    }


  }

  a {
    margin-top: 10px;
    display: inline-block;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @include vp-768 {
      flex-direction: row-reverse;
    }

    @include vp-1440 {
      gap: 30px;
    }
  }

  img {


    @include vp-768 {
      width: 156px;
      height: 120px;
      margin-top: 10px;
    }

    @include vp-1440 {
      width: 120px;
      height: 80px;
    }
  }

  a {
    color: $red;

    svg {
      stroke: $red;
    }
  }
}

.wrapper-dark-inf {
  h3 {
    border: none !important;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  ul li {
    list-style-type: disc;
  }

  ul {
    padding-left: 25px;
  }

  h3 {
    color: $black;
  }
}

.wrapper-map {
  margin-top: 20px;

  iframe {
    width: 100%;
    height: 216px;

    @include vp-768 {
      height: 354px;
    }

    @include vp-1440 {
      height: 436px;
    }
  }
}

.wrapper-contacts {
  display: flex;
  flex-direction: column;
  gap: px;
  margin-top: 22px;

  p {
    margin-top: 0;

    @include vp-768 {
      width: 50%;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    margin: 0;
  }

  a {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    padding: 15px 0;

    &:hover,
    &:focus,
    &:active {
      color: $red;
    }

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}

.wrapper-text-content+.wrapper-quote p {
  margin-top: 0;
}

.wrapper-link-button {

  a {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;

    @include vp-768 {
      max-width: 275px;
    }
  }


}

.wrapper-dark-list-main {
  li p {
    font-family: $ff-extra;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    @include vp-1440 {
      font-size: 24px;
      line-height: 28.8px;
    }


  }
}









.table-swiper {



  // max-width: 500px;
  .swiper-slide {
    display: flex;
    flex-direction: column;

    @include vp-768 {
      max-width: 350px !important;
      width: auto !important;
    }
  }

  .row {
    padding: 5px;
    width: 100%;
    // height: 100%;
    border: 0.5px solid #ccc;

    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

    &:first-child {
      font-weight: 500;
    }

  }

  .swiper-wrapper {
    word-break: break-all !important;
    overflow-wrap: break-word !important;


    @include vp-768 {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
  }
}

.table-container.table-responsive {
  width: calc(100% - 80px) !important;
  margin-right: 0;
}
