.news {
  margin: 20px 0;
  @include vp-768 {
    width: 273px;
  }

  .container {
    padding: 0;
  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    a {
      color: $red;
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        stroke: $red;
      }
    }
  }
}
